{% extends "touim/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
.alert-success {
    margin-top:80px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
</style>
<div class="container-user formstyle formstyle">
    <div class="content-section">
    	<div class="media">
    		<img class="img-circle account-img img-prof" src="{{ user.profile.image.url }}">
    		<div class="media-body">
    			<h2 class="account-heading">{{ user.username }}</h2>
    			<p class="text-secondary">{{ user.email }}</p>
    		</div>
    	</div>
    	<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4 profiletitre">My profile</legend>
    			{{ u_form|crispy }}
    			{{ p_form|crispy }}
    		</fieldset>
    		<div class="form-group">
    			<button class="btn btn-primary" type="submit">Save</button>
    		</div>
    	</form>
    </div>
</div>
{% endblock content %}
