{% extends "touim/base.html" %}
{% block about_active %}active{% endblock %}
{% block content %}
<div class="sites-container container-fluid" style="background-color: #252B35;">
    <div class="row">
        <div class="col-sm-12">


    <div class="row">
        <!-- Left sidebar: -->
        <div class="col-sm-6 col-md-6" style="color: gray;">
                <div class="panel-body" style="margin-left: 30px;">
                    <h2 class="titly">This is Arkeotuym application</h2>
                    <p>Это приложение позволяет записывать и хранить данные по археологии Якутии (стоянки, найденные на них артефакты, библиографические источники, карты и графики).</p>
                <ul>ArkeoTuym также включает в себя интекрактивную карту, которая: 
                    <li>визуализирует географическое положение памятников археологии</li>
                    <li>предоставляет возможность отображения фоновых карт по выбору</li>
                    <li>имеет функцию поиска стоянок по их названию</li>
                    <li>содержит краткую информацию о каждой стоянке</li>
                </ul>
                <h4><b>Как пользоваться ресурсом?</b></h4>
                <p>Сперва нужно создать стоянку, нажав на зелёную кнопку на главной странице. После добавления стоянки, можно добавить найденный на ней артефакт и библиографический источник</p>
                <h4>Характеристики загружаемых данных</h4>
                <ul>
                    <li>Добавляемые изображения должны быть в формате .jpg, .gif, или .png</li>
                    <li>Вес одиного файла не должен превышать 2Мб.</li>
                </ul>
                <h4><b>Attention !</b></h4>
                <p>В этом приложении использованы псевдоданные. Подлинные георгафические координаты археологических стоянок заменены на местоположения, выбранные случайным образом.</p>
                </div>
            <!-- </div> -->
        </div>
        <!-- Right sidebar (images + info admini) -->
        <div class="col-sm-6 col-md-6">
            <div class="panel-body" style="margin-top: 30px;">
                {% for image in images.all %}
                    {% if image.id_img == 1 %}
                        <img src="{{ image.imgfile.url }}" style="height: 410px;">
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel-body" style="color: gray;">
        <hr style="width:55%;" />
        <h3 class="contenutext ct-justy titly">ATTRIBUTIONS</h3>
        <hr style="width:2%;" />
        <div class="contenutext espacy">
            <p style="text-align: center;">Duis aute irure. Lorem ipsum dolor sit amet, consectetur adipiscing -- https://loremipsum.io/</p>
        </div>
        <hr style="width:55%;" />
        <h3 class="contenutext ct-justy titly">CONTACTS</h3>
        <hr style="width:2%;" />
        <div class="contenutext ct-justy espacy">
            <span class="glyphicon glyphicon-phone-alt"></span> +7 900 000 00 00 -- 
            <span class="glyphicon glyphicon-envelope"></span> kte.ent@gmail.com   
        </div>
    </div>
        {% for image in images.all %}
            {% if image.id_img == 2 %}
                <img src="{{ image.imgfile.url }}" style="width:100%;margin-top:20px;float: right;">
            {% else %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
