{% extends "touim/base.html" %}
{% block content %}
<div class="container">
    <div class="content-section">
    	<form method="POST">
    		{% csrf_token %}
    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4 delete-site">Delete Mobilier</legend>
                <h2 class="are-you-sure">Are you sure you want to delete the mobilier "{{ mobilier.mob_nom }}" ?</h2>
    		</fieldset>
    		<div class="form-group">
                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-primary" href="{% url 'touim-home' %}">Cancel</a>
    		</div>
    	</form>
    </div>
</div>
{% endblock content %}

<!-- https://stackoverflow.com/questions/56473746/url-wont-redirect-to-detailview-pk-django -->
<!-- https://stackoverflow.com/questions/41130257/redirect-with-primary-key-django-url -->
