{% extends "touim/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Left sidebar: -->
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default" style="background-color: #A09571;"> <!--#E3C67D/ #EBEAEC -->
                <div class="panel-body">
                    <!-- update and delete site -->
                    {% if user.id == sites.user.id %}
                        <p style="text-align: right;">
                            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'site-update' object.id_site %}">Edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'site-delete' object.id_site %}">Delete</a>
                        </p>
                    {% endif %} 
                    <p><h2>{{ object.sitename }}</h2></p>
                    <p><b>Период: </b>{{ object.date }}</p>
                    <p><b>Описание: </b>{{ object.descr }}</p>
                </div>
            </div>
            <!-- Mobiliers: -->
            <div class="panel panel-default">
                <div class="panel-body" style="background-color: #C78E50; color: black;">
                    <h4 style="color: black;">Artefacts of site <b>{{ object.sitename }}</b></h4>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Archaeological culture</th>
                            <th>Delete</th>
                            <!-- <th>Удалить</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        {% for mobilier in object.mobiliers_set.all %}
                            <tr>
                                <td>{{ mobilier.mob_nom }}</td>
                                <td>{{ mobilier.mob_desc }}</td>
                                <td>Middle neolith culture</td>
                                <td>
                                    <!-- <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'mobilier-delete' mobilier.id %}">Delete</a> -->
                                    <!-- <a class="btn btn-primary btn-sm mt-1 mb-1" href="#">Update</a> -->
                                    {% if user.id == sites.user.id %}
                                    <a href="{% url 'mobilier-delete' mobilier.id %}">
                                        <button class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </a>
                                    
                                    <!-- <a href="#">
                                        <button class="btn btn-danger disabled" title="Only author can delete this artifact">
                                            <span class="glyphicon glyphicon-trash" ></span>
                                        </button>
                                    </a> -->
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if user.id == sites.user.id %}
                    <ul class="nav nav-pills" style="margin-bottom: 10px;">
                        <div role="presentation">
                            <a href="{% url 'mobilier_create' object.id_site %}" style="color: white;">
                                <button type="button" class="btn" style="background-color: #A7522D">Add new artifact
                                </button>
                            </a>
                        </div>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Right sidebar (images + info admini) -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default" style="background-color: #A09571;">
                <div class="panel-body">
                        {% if object.site_img %}
                            <a  target="_blank" href="{{ object.site_img.url }}">
                                <img src="{{ object.site_img.url }}" class="img-responsive"/>
                            </a>
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    <h5><i>Фото местности</i></h5>
                </div>
                <div class="panel-body">
                        {% for admini in object.admini_set.all %}
                            <p><b>Category of site: </b>{{ admini.categ }}</p>
                            <p><b>Type: </b>{{ admini.vid_comm }}</p>
                            <p><b>Usage: </b>{{ admini.utilisation }}</p>
                        {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
